<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mb-5">
      <center class="row">
        <h1><i>__TODO LIST__</i></h1>
        <hr />
      </center>
      <div class="row">
        <div class="col-md-6">
          {% for i in list %}
          <div class="card">
            <h3><center><b>{{i.title}}</b></center></h3>
            <hr/>
            <h3>Date: {{i.date}}</h3>
            <hr/>
            <h3>Detils: {{i.details}}</h3>
          </div>
          <form method="post" action = "{% url 'todo:delete' i.id %}">
            {% comment %} action option dynamically generates url for the delete action based on item's id {% endcomment %}
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
          {% endfor %}
        </div>
        <div class="col-md-6">
          <form method = "post">
            {% csrf_token %}
            {{todo_form}}
            <button type="submit">Submit</button>
          </form>
      </div>
      </div>
    </div>
</body>